{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link href="{% static 'css/nomabase.css' %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
    
  <script type="text/javascript">
    var frm = $('#Noma-Exec-form');
    var pgrbar = $('#progress-bar');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                if (data.task_id != null) {
                    get_task_info(data.task_id);
                }
            },
            error: function (data) {
                console.log("Something went wrong from exec_view!");
            }
        });
        return false;
    });

    function get_task_info(task_id) {
        $.ajax({
            type: 'get',
            url: '/exec_prog/',
            data: {'task_id': task_id},
            success: function (data) {
                //frm.html('');
                if (data.state == 'PENDING') {
                    frm.html('Please wait...');
                }
                else if (data.result.status != 'ok') {
                    frm.html(data.result.status + data.result.info);
                }
                else if (data.state == 'PROGRESS') {
                    pgrbar.css('display', 'inline');
                    pgrbar.val(data.result.percent);
                    frm.html('Set Executed: ' + data.result.current + ' out of ' + data.result.total);
                }
                else if (data.state == 'SUCCESS') {
                    pgrbar.css('display', 'inline');
                    pgrbar.val(data.result.percent);
                    frm.html('Set Executed: ' + data.result.current + ' out of ' + data.result.total + ' Done!!!');
                    if (data.result.dashf) {
                        frm.html('You are being redirected to NOMA Dash Pivottable/Pivotchart...'); 
                        setTimeout(function () {get_dash(data.result.dashf)}, 1000);
                    }
                }
                if (data.state != 'SUCCESS') {
                    setTimeout(function () {
                        get_task_info(task_id)
                    }, 1000);
                }
            },
            error: function (data) {
                frm.html(data.result.info);
            }
        });
    }
    
    function get_dash(dsn) {
        window.location.href = "/dash-pivot/?dataset=" + dsn;
    }
  </script>
  
</body>


</html>