<!DOCTYPE html>
<html>
{%load plotly_dash%}
{% load bootstrap4%}
{% bootstrap_css%}
{% plotly_header %}
    <head>
        <title>NOMA Dash</title>
    </head>
    <body>
        <div id="react-entry-point">
            <div class="{%plotly_class name="NomaDash" template_type="div-direct"%}">
                {%plotly_direct name="NomaDash"%}
            </div>
        </div>
    </body>
<script id="_dash-config" type="application/json">{"url_base_pathname": "/django_plotly_dash/app/NomaDash/", "requests_pathname_prefix": "/django_plotly_dash/app/NomaDash/", "ui": false, "props_check": false, "show_undo_redo": false}</script>
<script src="/django_plotly_dash/app/NomaDash/_dash-component-suites/dash_renderer/react@16.8.6.min.js"></script>
<script src="/django_plotly_dash/app/NomaDash/_dash-component-suites/dash_renderer/react-dom@16.8.6.min.js"></script>
<script src="/django_plotly_dash/app/NomaDash/_dash-component-suites/dash_renderer/prop-types@15.7.2.min.js"></script>
<script src="/django_plotly_dash/app/NomaDash/_dash-component-suites/dash_bootstrap_components/_components/dash_bootstrap_components.min.js"></script>
<script src="/django_plotly_dash/app/NomaDash/_dash-component-suites/dash_html_components/dash_html_components.min.js"></script>
<script src="/django_plotly_dash/app/NomaDash/_dash-component-suites/dash_core_components/plotly-1.50.1.min.js"></script>
<script src="/django_plotly_dash/app/NomaDash/_dash-component-suites/dash_core_components/highlight.pack.js"></script>
<script src="/django_plotly_dash/app/NomaDash/_dash-component-suites/dash_core_components/dash_core_components.min.js"></script>
<script src="/django_plotly_dash/app/NomaDash/_dash-component-suites/dash_pivottable/dash_pivottable.min.js"></script>
<script src="/django_plotly_dash/app/NomaDash/_dash-component-suites/dash_renderer/dash_renderer.min.js"></script>
<script id="_dash-renderer" type="application/javascript">var renderer = new DashRenderer();</script>
</html>